<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usage With CDN</title>
    <style>
        #app {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<body>

    <div id="app">
        <div>
            <h3>Random Array</h3>
            <ul>
                <li v-for="number in array">{{ number }}</li>
            </ul>
        </div>
        <div>
            <h3>Sorted Array (selection)</h3>
            <ul>
                <li v-for="number in selection">{{ number }}</li>
            </ul>
        </div>
        <div>
            <h3>Sorted Array (bubble)</h3>
            <ul>
                <li v-for="number in bubble">{{ number }}</li>
            </ul>
        </div>
        <div>
            <h3>Sorted Array (recursive bubble)</h3>
            <ul>
                <li v-for="number in recursiveBubble">{{ number }}</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/gh/rainboi/RainLib.JS@vv0.1.1-alpha/RainLibWEB.js"></script>
    <script>
        console.log("RainLib:", RainLib)
        const randomArray = RainLib.Generation.randomNumbers(10);
        new Vue({
            el: '#app',
            data: {
                array: randomArray,
                selection: RainLib.Sort.selection(randomArray),
                bubble: RainLib.Sort.bubble(randomArray),
                recursiveBubble: RainLib.Sort.recursiveBubble(randomArray),
            }
        })
    </script>


</body>

</html>